[2016-11-07 22:34] tiziano88 opened #35 "token endpoint should not require client secret in request"
Currently the server requires that the client sends back its id and secret to the server when exchanging an authorization code for an access token:

- https://github.com/go-oauth2/oauth2/blob/master/server/server.go#L280
- https://github.com/go-oauth2/oauth2/blob/master/server/handler.go#L49

But the OAuth2 RFC does not require this: https://tools.ietf.org/html/rfc6749#section-4.1.3 i.e. the code

[2016-11-08 02:01] LyricTian commented on #35
Thank you for your issue, I have been fixed.

[2016-11-08 12:35] kulti commented on #35
What is the coincidence! I've analyzed same bug several hours ago (for `PasswordCredentials` and `Refreshing`). I found solution in custom `ClientInfoHandler`. Because `TokenInfo` required `client_id` and `client_secret`, I bind `username/password` to `client_id` in my `store` implementation.

[2016-11-08 17:05] tiziano88 commented on #35
Uhmm, actually maybe the existing version was correct? Looking at https://developers.google.com/identity/protocols/OAuth2WebServer#handlingresponse , it seems that `client_id` and `client_secret` are actually passed at that step, and in fact now the client secret is effectively never used, which can't be correct? I'm still looking into it

[2016-11-08 17:12] tiziano88 commented on #35
https://github.com/golang/oauth2/blob/master/internal/token.go#L165 for reference, from the official OAuth2 Go package; it seems that we should send and receive `client_id` and `client_secret` over basic auth.

[2016-11-08 17:17] tiziano88 commented on #35
I think the course of action should be to undo the recent change, but let the server check both `client_id`/`client_secret` URL parameter and also HTTP basic auth, and use whichever is available. That way it would work fine in all cases.

[2016-11-08 18:26] tiziano88 commented on #35
Relevant part of the spec: https://tools.ietf.org/html/rfc6749#section-2.3.1

[2016-11-08 18:54] tiziano88 commented on #35
Never mind, I have just looked at the change again, and it did already change the server to use basic auth instead of URL params, so please disregard my last few comments -- it's all good! The only remaining good-to-have thing now would be the ability to fall back on URL parameters in case basic auth is not provided, therefore allowing both mechanisms to coexist.

[2016-11-08 19:05] tiziano88 commented on #35
Also, a possible bug: https://github.com/go-oauth2/oauth2/blob/master/server/server.go#L296 this line is still checking for the `client_id` form value; I think that check could be removed now?

[2016-11-10 07:45] #35 closed

[2017-05-13 15:39] Jackgris opened #50 "How did my user relate to the token?"
First of all, thank you for your work.
Could you give me an example, or explain how I relate the user created in the database with the generated token?
In other words, how do I get the id of the user according to the generated token

[2017-05-15 00:43] LyricTian commented on #50
[code]

[2017-05-16 01:11] Jackgris commented on #50
Thanks for your answer
The truth is, I do not know why I did not see that function in the code.
It's just what I was looking for.

[2017-05-16 01:11] #50 closed

[2017-05-18 13:34] yeycfri opened #51 "Generate JWT Access Token"
Hi, 这个项目很棒，多谢你的贡献。

我现在有一个问题是，我想把DefaultManager的AccessGenerate替换成生成jwt的。而现在这部分的接口定义了只有GenerateBasic这个数据能参与token的生成，如果我想用到别的数据例如scope来参与生成jwt，这里没办法做到。
[https://github.com/go-oauth2/oauth2/blob/master/generate.go#L20](url)

我想问一下，这有什么好的解决方法吗？或者代码中哪里有这方面的拓展？如果没有，后续是否考虑加入呢？

谢谢

[2017-05-25 03:58] LyricTian commented on #51
嗯，谢谢你的建议，目前还没有这块的支持。可以考虑增加一个扩展参数，或者你可以提一个pr。

[2017-06-25 15:12] julienkosinski opened #53 "How to use scopes to Provide Role-Based Authorization ?"
Hello,

Thank you for all your hard work!
Is there any way to use the scope to provide role-based authorization?
It seems that it's not possible today and scope is only used as a request by the user because models/client.go does not implement the scope.
Maybe it could have in models/client.go a list of authorized scopes for a client?

Thanks!

[2017-06-26 09:17] LyricTian commented on #53
It is recommended to implement the ClientInfo interface and extend the client's fields.
You see if you meet your needs!

[2017-06-27 23:31] julienkosinski commented on #53
Right, thank you, I'll try to do it someday! :)

[2017-07-02 17:37] #53 closed

[2017-07-19 05:48] hoysoft opened #54 "example run failure"
2017/07/19 13:46:42 Server is running at 9096 port.
map[Form:map[client_id:[222222] redirect_uri:[http://localhost:9094/oauth2] response_type:[code] scope:[all] state:[xyz]]]
&{9f570e6b48d181cb6a9b59929b279254 {63636040007 227949400 0x9cec00} map[Form:map[redirect_uri:[http://localhost:9094/oauth2] response_type:[code] scope:[all] state:[xyz] client_id:[222222]]] {{0 0} 0 0 0 0}}
map[LoggedInUserI

[2017-07-19 08:17] LyricTian commented on #54
范例的正确姿势（亲测可用）：

1. 编译并运行`client`:

[code]

2. 编译并运行`server`:

[code]

3. 打开浏览器，访问地址[http://localhost:9094/](http://localhost:9094/)

[2017-08-10 09:00] apanoo opened #55 "Refresh token by access_token"
有个疑问，使用密码模式时，使用access token也可以刷新授权码，这样正常吗？

[2017-09-08 06:18] LyricTian commented on #55
不正常，这是个bug。在获取令牌的时候，没有做令牌本身的校验，已经修复！多谢！

[2017-11-25 14:21] monkeycodelikemad opened #58 "How does client validate the token"
Running the example project I can login, authorize the app, and get redirected back to the client handler.
If I then try to access the root URL of the client, I have to login again.  How can I use the token to ensure I don't have to login, until it is invalidated, or expired ?

Should the client persist the token in a cache, and then check that it is sent in the Authorization header.  If present a

[2017-12-12 19:22] ivucica opened #59 "Allow overriding IsGenerateRefresh per request and per client"
- A particular client might be allowed to request only an `access_token`.
- Similarly, a client might temporarily opt out of requesting an `access_token`.

A use case is a client that's merely logging in a user and is happy to have the session last as long as an `access_token`, without a persistent `refresh_token`.

Right now, as far as I understand, it's "all authorization code swaps get a refres

[2018-01-10 10:55] denvist commented on #54
Where i can get mistake? Where is no "server" (compiled) file.

![2018-01-10 13-54-36](https://user-images.githubusercontent.com/7146527/34769077-d5ec7170-f60d-11e7-92b9-cde13242c972.png)

[2018-01-10 20:26] denvist opened #61 "Example server build failed"
When i try to build server from example it failed with this errors:
`$ go build server.go `
`# gopkg.in/oauth2.v3/generates`
`../../../gopkg.in/oauth2.v3/generates/access.go:28:66: multiple-value uuid.NewV4() in single-value context`
`../../../gopkg.in/oauth2.v3/generates/access.go:31:68: multiple-value uuid.NewV4() in single-value context`
`../../../gopkg.in/oauth2.v3/generates/authorize.go:24:32

[2018-01-10 20:47] denvist commented on #61
It may be fixed by pull [request #60 ](https://github.com/go-oauth2/oauth2/pull/60)

[2018-01-22 08:38] h4 commented on #61
@denvist FYI PR #60 was merged, but new release hasn't yet been created.

[2018-03-01 02:21] freman opened #63 "uuid.NewV4 updated"
So I'm getting

[code]

This seems to be fixed in the library, but a bit of investigation has revealed that gopkg.in hasn't been updated . Without putting any effort into researching the issue it seems to be because you have not tagged the fixed code with a version.

Can you please do this?

[2018-03-04 13:12] LyricTian commented on #63
The problem has been fixed, thank you!

[2018-03-04 23:27] freman commented on #63
http://gopkg.in/oauth2.v3 still lists 3.8.3 as the current version which still hasn't got that fix in it :(

[2018-03-10 12:00] Merovius opened #65 "Support for context"
Many of the fields of server.Server are callbacks that don't take either an `*http.Request` or a `context.Context` as arguments. This means it is impossible to use any request-specific information in them: For example, I'd like to log errors with a request ID, increment metrics with request-specific labels (like the path and method) and set a custom verbosity per request.

It would be great if the

[2018-03-13 01:14] LyricTian commented on #65
Thank you for your suggestion, I am planning to use context refactoring. You can submit a pull request to meet your needs. Thank you!

[2018-03-28 23:15] berlincount opened #68 "Example doesn't work"
Running through the auth flow, I'm getting

[code]

with the given example :(

[2018-03-31 15:06] LyricTian commented on #68
## Run Server

[code]

## Run Client

[code]

## Open the browser

[http://localhost:9094](http://localhost:9094)

[2018-03-31 17:48] berlincount commented on #68
Odd.

I'm not sure what was wrong yesterday, but today it works. Must have contaminated my environment somehow :(

Sorry for the erroneous and incomplete bug report!

[2018-03-31 17:48] #68 closed

[2018-04-03 03:39] Bruce-sz commented on #68
I also encountered the same error。

`	/usr/local/go/src/net/http/server.go:2795 +0x27b
2018/04/03 11:36:00 http: panic serving [::1]:64694: interface conversion: interface {} is nil, not url.Values
goroutine 59 [running]:
net/http.(*conn).serve.func1(0xc4202c83c0)
	/usr/local/go/src/net/http/server.go:1726 +0xd0
panic(0x1346300, 0xc420154e80)
	/usr/local/go/src/runtime/panic.go:505 +0x229
main.aut

[2018-04-19 13:08] Sef1995 commented on #63
Same problem for me..

[2018-07-11 17:08] josselin-c opened #69 "Replace package satori/go.uuid"
This issue has been opened automaticaly because we think you are using satori/uuid in your code. Unfortunately, satori/uuid has a critical defect where it doesn't generate random UUIDV4s satori/go.uuid#73 and should be replaced as the maintainer has been unresponsive for 5 months with the bug still open. Alternative packages you should consider: https://github.com/google/uuid https://github.com/pb

[2018-08-13 13:18] vtolstov opened #71 "feature parity with github.com/RangelReale/osin"
Hi. I'm search oauth2 server package and find you repo and github.com/RangelReale/osin, can you provide some compare to github.com/RangelReale/osin package?
To help other users to decide

[2018-08-27 06:01] #51 closed

[2018-09-03 08:18] beng90 opened #76 "Missing second argument for method uuid.Must()"
[code]

Example from generates/access.go

`access = base64.URLEncoding.EncodeToString(uuid.NewV3(uuid.Must(uuid.NewV4()), buf.String()).Bytes())`

Fixed code:
`access = base64.URLEncoding.EncodeToString(uuid.NewV3(uuid.Must(uuid.NewV4(), err), buf.String()).Bytes())`

[2018-09-04 06:09] beng90 commented on #76
It won't help.
Must() function require two parameters and satori still has the same in implementation.
https://github.com/satori/go.uuid/blob/36e9d2ebbde5e3f13ab2e25625fd453271d6522e/uuid.go#L156

I can fix it in oauth2 package but I don't know how to contribute.

[2018-09-04 11:28] beng90 commented on #76
@LyricTian could you do the change in code. This is simple fix.
I can prepare Pull request if you set me as contributor.

[2018-09-05 01:30] LyricTian commented on #76
You can try to update the package:
[code]
I have found no problems with my use here.

[code]

[code]

[2018-09-06 22:05] adamdecaf commented on #76
@LyricTian I'm trying with go modules and getting the same error.

https://github.com/go-oauth2/oauth2/blob/v3.8.12/store/token.go#L46
https://github.com/satori/go.uuid/blob/v1.2.0/uuid.go#L156

Those are the latest tags so `go mod` picks them both up.

[2018-09-07 02:57] LyricTian commented on #76
OK,I have removed the package:`github.com/satori/go.uuid`.You try again:
`go get -v -u gopkg.in/oauth2.v3`

[2018-09-07 06:29] beng90 commented on #76
It's much better but I still see one bug
`vendor/gopkg.in/go-oauth2/redis.v1/token.go:44:23: not enough arguments in call to uuid.Must
	have (uuid.UUID)
	want (uuid.UUID, error)`

When function require 2 parameters we cannot pass just one even when it can be nil

[2018-09-07 07:55] LyricTian commented on #76
OK.You try again:`go get -u -v gopkg.in/go-oauth2/redis.v3`

[2018-09-07 08:37] beng90 commented on #76
It is the other bug
`not enough arguments in call to manager.MustTokenStorage
	have (*"vendor/gopkg.in/go-oauth2/redis.v3".TokenStore)
	want (oauth2.TokenStore, error)`

Example usage:
`	manager.MustTokenStorage(redis.NewRedisStore(&redis.Options{
		Addr: config.Redis.Host + ":" + strconv.Itoa(config.Redis.Port),
	}))`

NewRedisStore returns different than NewTokenStore in redis.v1

[2018-09-07 08:53] LyricTian commented on #76
you can try `MapTokenStorage`

[2018-09-07 16:26] adamdecaf commented on #76
@LyricTian Thanks for the fixes. Could we get a bugfix release tagged?

[2018-09-10 15:51] adamdecaf commented on #69
This was done in https://github.com/go-oauth2/oauth2/commit/84834429be3fb8542b10e21864b2ffa84cbf74a1 for https://github.com/go-oauth2/oauth2/issues/76

[2018-09-10 22:29] adamdecaf commented on #76
I bumped my project to `v3.9.0` and it worked, thanks!

[2018-10-10 12:53] #69 closed

[2018-11-02 02:12] fghjhuang opened #77 "refresh token all works"
当用密码验证后返回refresh token1，然后用refresh token1去刷新；然后再用密码验证返回refresh token2，然后发现用refresh token1和refresh token2都可以进行刷新，是否应该生成refresh token2的时候要使refresh toekn1失效才合理？还是说我有什么地方配置错误？

[2018-11-02 08:56] LyricTian commented on #77
对于你说的这种场景，目前的设计是不支持的。现在的设计每次通过密码模式生成令牌，之前的令牌是可用的，需要等到过期之后失效。你提的这个建议，后面我会尝试支持。谢谢！

[2018-11-08 02:14] #77 closed

[2018-11-14 02:20] fghjhuang opened #79 "auto delete token storage"
我设置了mysql存储后发现存进去的数据如果过期了不会删除，这样是不是会导致使用时间越长检索token是否有效的时间也会越来越长（因为数据越来越多却不会删除掉）？能不能在后期增加自动删除过期token的功能呢？谢谢

[2018-11-14 02:20] fghjhuang commented on #58
i do this function like this：
`http.HandleFunc("/validation_token", func(writer http.ResponseWriter, request *http.Request) {
		ti, err := srv.ValidationBearerToken(request)

		if err != nil {
			fmt.Print(err.Error())
			fmt.Fprint(writer, "{\"result\":\""+err.Error()+"\"}")
			return
		}
		if ti.GetClientID() != OauthConfig.ID{
			fmt.Print("invalid access token")
			fmt.Fprint(writer, "{\"resul

[2018-11-20 04:17] belvederechennai opened #81 "Compile locally?"
How to compile locally so that the code can be customized?

go build ./...

oauth2/example/server/server.go:11:2: cannot find package "oauth2/errors" in any of:
	/usr/local/Cellar/go/1.10.1/libexec/src/oauth2/errors (from $GOROOT)
	/Users/z001dv3/go/src/oauth2/errors (from $GOPATH)
oauth2/example/server/server.go:12:2: cannot find package "oauth2/manage" in any of:
	/usr/local/Cellar/go/1.10.1/lib

[2018-11-20 07:50] LyricTian commented on #81
You can try this:

[code]

[2018-11-20 16:21] #81 closed

[2018-11-20 16:22] belvederechennai commented on #81
thanks, i had the packages define twice.

[2018-12-04 21:53] jwmach1 opened #83 "ValidationAuthorizeRequest requires GET"
I'm wondering why the ValidationAuthorizeRequest in server.go requires the /authorize endpoint to be a GET?  We are seeing that many clients require the call to be a POST.  Particularly since the form/querystring includes the client_id and client_secret. Why not allow GET/POST

(let me know if a pull request will help.)

// ValidationAuthorizeRequest the authorization request validation
func (s *S

[2018-12-05 12:02] LyricTian commented on #83
Thank you for your suggestion, has added POST support,

[code]

[2018-12-06 01:47] jwmach1 commented on #83
sweet! thanks.

[2018-12-21 08:09] shaolei commented on #58
@fghjhuang 你这里的OauthConfig是什么？

[2019-01-07 07:53] djKooks opened #84 "Re-access with token, and token duration."
Hello~
I'm currently trying to implement auth server with this, and testing with example in repo.
I could understand the flow of how client side could receive token from server. After I received, how could I use this token to re-access client service without login?

And in example, how could I change token expire duration?

Thanks.

[2019-01-07 16:02] LyricTian commented on #84
I have added a use example/try in the master branch:[cc5f83eabeed9f6bd7a021ee8eb74dd8e0978a9e](https://github.com/go-oauth2/oauth2/commit/cc5f83eabeed9f6bd7a021ee8eb74dd8e0978a9e).

Change the expiration time of the token using the `manager.SetAuthorizeCodeTokenCfg` function:
[code]

[2019-01-09 01:49] djKooks commented on #84
@LyricTian thanks! I'll look on it.

[2019-01-09 05:04] djKooks commented on #84
@LyricTian ok, I could understand more with this example. Thanks.
It could be silly question, but can I ask how client ID/user ID is received from token? It looks like it only sends token, but it seems it reads user/client information from it(looks like `ValidationBearerToken` does something...). Is there some logic for this?

[2019-01-09 06:47] LyricTian commented on #84
In fact, the access token represents the current logged-in user. Each time the server interacts with the server, the server knows which user or client it is. The client does not need to care about its own user ID or client ID.

[2019-01-09 07:38] djKooks commented on #84
@LyricTian oh, sorry to make you complicate. What I mean is, is it possible to get client ID and user ID only with access token data, because `localhost:9094/try` only sends access token to server. If is not, is client data being stored in somewhere?

Thanks.

[2019-01-09 08:04] LyricTian commented on #84
You can use the access token to get the user ID and client ID from the server interface.

[2019-01-09 10:39] djKooks opened #86 "Refresh expired access token."
Hello.
When access token is expired and refresh token is still okay, how can I refresh access token with refresh token?

Thanks.

[2019-01-09 13:17] LyricTian commented on #86
You can view an example of this submission:[770bbd92979768ec3e522fd8c7aaceaf99c5d4b5](https://github.com/go-oauth2/oauth2/commit/770bbd92979768ec3e522fd8c7aaceaf99c5d4b5)

[2019-01-10 07:48] djKooks commented on #86
@LyricTian this is just a question in this example...
Is it connecting to the server part when requesting new access token? It seems there is no part accessing to server in code.

[2019-01-10 09:21] djKooks commented on #86
@LyricTian oh, sorry. I just checked that it calls `TokenURL` and `AuthURL` defined in client.
Could you explain which part of the code in this library is doing this?

[2019-01-11 01:53] LyricTian commented on #86
It implements part of the standard protocol. For details, please refer to:
[https://tools.ietf.org/html/rfc6749#section-4.1](https://tools.ietf.org/html/rfc6749#section-4.1)

[2019-01-14 03:17] phisch opened #87 "Authorization Code Grant redirect_uri is not optional"
https://tools.ietf.org/html/rfc6749#section-4.1.1
States that the redirect_uri is __OPTIONAL__

The server returns an error when `redirect_uri` is ommitted. https://github.com/go-oauth2/oauth2/blob/master/server/server.go#L152

[code]

Could affect multiple authorization and token grants.

[2019-01-14 10:36] LyricTian commented on #87
From the perspective of the protocol, the redirect url is indeed optional, but the protocol specification does not give a better implementation. Do you have any better implementation? Let's discuss it.

[2019-01-14 11:20] phisch commented on #87
The `ClientStore` currently stores objects of the type `Client`, which contains a `Domain` field. This field should actually be an array of redirection URIs (https://tools.ietf.org/html/rfc6749#section-2). When a request contains a redirection uri, you should check if the given client has this uri in its redirection uris. When the redirection uri is omitted, you should redirect to the only registe

[2019-01-15 13:47] LyricTian commented on #87
Ok, let me fix this bug.

[2019-01-15 14:54] LyricTian commented on #87
The changes have been submitted, you can try to update:
[code]

[2019-01-17 07:33] djKooks opened #88 "Server with multiple client"
I'm trying to allow multiple client for single auth server, so implemented as:
[code]
...but this seems not working well. It refuses the request.
How can I make it?

[2019-01-18 01:30] LyricTian commented on #88
For the oauth2 service, there is only one client storage globally, which can store multiple client data.

[code]

[2019-01-18 05:36] djKooks commented on #88
@LyricTian thanks!

[2019-01-18 05:36] #88 closed

[2019-02-06 01:58] cyantarek opened #89 "How to store client in redis or other data store?"

[2019-02-06 04:55] djKooks opened #90 "How do you think about function which offers id_token?"
Hello
How do you think about implementing function which offers id_token, in OpenID-connect specification(https://auth0.com/docs/tokens/id-token)?
I know this could not be fit to this project, because this is out of spec in OAuth2. But when I was implementing authentication server based on this module, I felt this could be useful.

Thanks.

[2019-02-06 12:44] wongoo commented on #89
@cyantarek  there is a implement https://github.com/go2s/o2s/blob/master/o2r/client.go

[2019-02-11 06:25] adriendomoison opened #91 "Do you have a working example of all the authentication method?"
I am trying to implement all the OAuth2 authentication methods under the same program, but I am having an issue by just adding the `Client Credential` method to the `example/server.go`. When adding these two lines from your example in the `readme` to the `example/server.go`, the `Authorization Code` flow doesn't work anymore.

[code]
And if I remove the 2 lines Authorization Code is working again

[2019-02-12 01:17] LyricTian commented on #91
I added an example of the use of password mode and client mode, you can check it out:[https://github.com/go-oauth2/oauth2/tree/master/example](https://github.com/go-oauth2/oauth2/tree/master/example)

[2019-02-12 06:56] adriendomoison commented on #91
@LyricTian Wow, that's awesome! This really changes the game thanks! I understand now at a glance how this implemetation of OAuth is built. I am impressed about how clean this is and how minimum work is required to implement a server 👍

[2019-02-12 06:56] adriendomoison commented on #91
Also, could you explain why when accessing any endpoint there is no HTTP call recorded on my browser?

![screen shot 2019-02-11 at 10 19 40 pm](https://user-images.githubusercontent.com/9092210/52615846-757c0e00-2e4b-11e9-9dff-a2d19e4c6a42.png)

I should be able to see the network access to `/authorize` and `/token`, what kind of dark magic is that? 😅

[2019-02-13 06:18] adriendomoison commented on #91
@LyricTian and may I ask where is the documentation about what needs to go in query params and what needs to go in the Body for each request type?

[2019-02-15 06:02] Lloyd-longfei opened #92 "how custom claims field"
How do I customize this field？

[2019-02-15 08:26] wongoo commented on #92
@Lloyd-longfei  ref this [example](https://github.com/go2s/o2s/blob/master/jwtex/claims.go)

[2019-02-18 03:27] Lloyd-longfei opened #93 "How do I add clientstore when the service starts?"

[2019-02-19 13:50] bendo01 commented on #91
Do you have a working example using gorm ?
i tried to combine example using buntDB and example in mysql but i've always get message
Response Error: unsupported_grant_type

[2019-02-20 10:50] tvnking opened #94 "about the expires_in"
how to set time expires_in

[2019-02-21 00:29] LyricTian commented on #93
You can implement the interface `ClientStore`

[2019-02-23 16:15] itanor commented on #94
I would also like to know.

[2019-02-23 16:42] itanor commented on #94
@tvnking try this:

`manager.SetClientTokenCfg(&manage.Config{AccessTokenExp: time.Second * 15})`

[2019-02-26 04:23] kpmane84 opened #96 "Do i have to set clientstore data every time the service starts?"

[2019-03-08 21:14] rps-repo commented on #89
@wongoo Does that work with this oauth library?  I tried it out and while it did save the client to redis I don't see how this library would be able to use it.

[2019-03-08 21:26] rps-repo opened #97 "Redis Storage"
README.md says that the store can implement Redis.  Is this for both client and token storage?  Does the Redis package https://github.com/go-oauth2/redis do both?  If so how do you use it with clients?  The usage only shows an example for tokens.

[2019-03-09 05:54] wongoo commented on #89
@rps-repo  it's a redis implement of the interface [oauth2.ClientStore](https://github.com/go-oauth2/oauth2/blob/master/store.go),  you can replace ClientStore through `oauth2.MustClientStorage(cs, nil)`.

[2019-03-09 06:42] LyricTian commented on #97
The client is managed and distributed by the authorization service. Generally, the client can be managed independently according to its own usage mode, and some client authorization operations are performed. The token is requested by the client to the authorization service, and the token store can be fully hosted by the authorization service. So, with the client's use, you can implement the `Clien

[2019-03-09 17:09] dharmjit opened #98 "Help Needed for Adding CustomClaims(Role/Country etc) of User"
Hi Team, I have created a basic setup for Oauth2(Password grant) using this library. Its working, but I need to add more custom claims. Currently only userid is added as below.

[code]

My Question is do I need to make multiple DB queries if I needed to add these claims. Thanks in advance

[2019-03-10 03:50] rps-repo commented on #89
@wongoo Thanks!  got it working.

[2019-03-10 17:31] #97 closed

[2019-03-11 01:26] LyricTian commented on #98
UserID is a string type, you can encode the data you need into a string using JSON encoding.

[2019-03-11 13:41] dharmjit commented on #98
you means to say to use userID for all the claims

[2019-03-21 18:34] pmrt commented on #98
Yeah, that's definitely not the best way to do this.

I think there's some confusion here. When you're saying "claims", I guess you're referring to JWT which this library doesn't use by default. It does use and generate tokens, but not JWT. That's why you can't add 'claims' to the default token model, because it's not a JWT and there's no such thing as 'claims',
 just a replaceable AccessGenerate

[2019-03-22 10:22] ronaldotantra opened #99 "Validation doesn't matching with rfc"
On param oauth in redirect uri can be duplicate with same grant type or others
e.g : http://localhost:9096/authorize?client_id=222222&redirect_uri=http%3A%2F%2Flocalhost%3A9088%2Foauth2&response_type=code&response_type=abc&scope=all&state=xyz

will be same result as
http://localhost:9096/authorize?client_id=222222&redirect_uri=http%3A%2F%2Flocalhost%3A9088%2Foauth2&response_type=code&scope=all&sta

[2019-03-26 02:12] mikepc opened #100 "So how exactly does the SetPasswordAuthorizationHandler work?"
So I'm trying to add a /register and /login endpoint that accepts a JSON payload with the email/password credentials of the user, and looking at the docs and the API, it's not readily apparent exactly what I should do to authenticate the user and issue a token.

The example is awesome for showing how to be an oauth server, but I'd like my local login flow to issue the token as well as any outside

[2019-03-26 04:06] LyricTian commented on #100
I tried to understand your needs. Do you want to use password mode to generate an access token with JWT? If so, the rough process is this (also in the example):

[code]

### Parse and verify jwt access token

[code]

[2019-03-26 04:07] mikepc commented on #100
I figured it out! You guys rock!

[2019-03-26 04:07] #100 closed

[2019-03-27 01:48] mikepc commented on #100
The key disconnect I had was understanding the expected flow of my app.
After I dug around in the api and saw the implementation I figured out what
the path was and could debug properly to get everything working.

Everything is working, sorry for the question.

On Mon, Mar 25, 2019 at 9:06 PM Lyric <notifications@github.com> wrote:

[2019-03-27 14:31] theobouwman opened #101 "Go Modules"
How can I use this library with the new Go Modules system?

[2019-04-07 10:53] jakubknejzlik commented on #98
I would like to thank @pmrt for his answer 👏.
Also I would like to ask why not use JWT standard claims. For example this mapping:
`user_id`: `"sub"` (https://tools.ietf.org/html/rfc7519#section-4.1.2)
`expire_at`: `"exp"` (https://tools.ietf.org/html/rfc7519#section-4.1.4)
`client_id`: `"aud"` (https://tools.ietf.org/html/rfc7519#section-4.1.3)

These are also specified here: https://github.com/dg

[2019-04-12 10:02] j4k opened #103 "Custom grant types"
Hi, I would like the ability to extend and implement custom grant types.

My use case is to implement a 'social' grant type like the following lib:
https://github.com/coderello/laravel-passport-social-grant

I'm currently porting an oauth implementation for an app into golang and need to emulate the above.

I don't think this is possible currently in go-oauth2, would you be open to it?

[2019-04-12 10:51] wongoo commented on #103
there is an example：
https://github.com/go2s/o2s/blob/master/http/server.go

[code]

[2019-04-15 05:26] kpmane commented on #94
How can I set a token to no expiry

[2019-04-15 19:26] mikepc opened #104 "fasthttp support"
I noticed that you revoked the support for fasthttp. I'm curious what the reasoning behind that was and if there are any plans to include it in a future release?

Most of my go servers use fasthttp, and it kind of sucks having a unique snowflake that's using net/http.

Is there a simple way to transform a handler into a fasthttp-flavored handler? I saw an adapter out there but that adapts the wron

[2019-04-22 15:20] hotab opened #105 "Open Redirect in /authorize inside sample server"
There are at least 2 distinct cases - when we did not configure the user authorization handler, and when we did.

For the first case, if we use the server from samples (with domain set to http://localhost for the client), we can do the following:
[code]

For the second case, for the invalid url, we still get a redirect:
[code]
Also, by default, the domain is suffix-matched, meaning testlocalhost w

[2019-04-22 15:27] hotab opened #106 "Client enumeration possible for client_credentials grant"
If we do a request with non-existing client_id in the sample server, we get the following response:
[code]
On the other hand, if we do a request with existing client_id, but invalid client_secret, we get the following response:
[code]

This can be used to enumerate valid client_id's, which might be undesirable.

[2019-04-22 15:40] hotab opened #107 "Token generation uses UUID v3 and UUID v5"
Internally, token generation uses UUIDv3 and UUIDv5. RFC4122 recommends against using them as security credentials.

Ref: https://en.wikipedia.org/wiki/Universally_unique_identifier#Versions_3_and_5_(namespace_name-based).

Additionally, after generation they are base64-encoded and converted to uppercase, reducing entropy a bit more. Generically, according to https://github.com/OWASP/CheatSheetSer

[2019-04-22 15:45] hotab opened #108 "Client Secret, Refresh Token, Access Token are stored in plaintext"
If all the tokens/secrets are stored in plaintext, then in case of database compromise for read-only (typical for many types of injection bugs), it will be possible to escalate the issue to authentication bypass.

It might be desirable to allow the use of hash or encryption functions prior to token storage in the database to be used.

Ref:
https://github.com/OWASP/CheatSheetSeries/blob/master/chea

[2019-04-22 15:49] hotab opened #109 "Token base data is stored after both access and refresh token are removed"
For example, when we use a refresh token, it gets regenerated along with access token. At this point both access and refresh token are no longer present (no references to base data are left), but it is still retained for the next 7 days (default TTL).

This is true at least for redis store.

[2019-04-22 16:05] dgutson commented on #55
Sorry guys, please consider to write in English since translators may not be good enough, and it happens that this issue (according to the title, and to the translated text) seems to affect us.

[2019-04-24 00:45] LyricTian commented on #109
Yes, this problem does exist now, I will try to fix it.

[2019-04-24 14:31] hotab opened #110 "JWT handling"
It looks like JWTs are somewhat-mishandled by the library.

After generating the JWT, it is stored exactly as-is in the database, and then checked by loading them from the database. This limits their use. Consider the following scenario:

Server A and Server B both issue tokens. Server B (our server) wants to accept both tokens issued by Server A and itself. The admin might want to use JWTs to res

[2019-05-03 08:09] zacksleo opened #111 "how to custom error response content"
I got the response blow when create the token with wrong  username or password:
http code: 500
[code]
How can I change the response content and code?

[2019-05-12 03:20] imrenagi commented on #108
I'm also wondering the same thing. If I'm not mistaken Spring Boot security also stores these as plain text (CMIIW). Not sure why. Is it by design? But as you said in RFC6819, it says these credentials needs to be hashed or encrypted..

This is the current check
[code]

And I have an idea for adding a custom secretHandler to the manager:
[code]
So, we can use it by:
[code]

[2019-05-13 11:37] ptman commented on #101
go modules should support gopkg.in

[2019-05-13 12:42] ptman commented on #76
so this is done and could be closed?

[2019-05-13 12:44] ptman commented on #63
if this is fixed, then this could be closed

[2019-05-14 09:29] #63 closed

[2019-05-14 09:30] #76 closed

[2019-05-16 18:19] SonicRoshan commented on #110
Yes, the point of JWT is to not store it in a DB, therefore, the library should at least give you options of not storing JWT. You can achieve this by creating your own token store which simply does not store any data in DB. I think it won't be that hard. But yah the library should support this by default

[2019-05-23 08:38] tvnking opened #113 "About Client Store"
Can I remove a client created in NewClientStore function?

[2019-06-09 04:15] mikepc opened #114 "Easiest way to store the token in an https only cookie"
Trying to figure out the easiest way to store the access token and refresh token in an https only cookie.  Have any guidance?

[2019-06-09 04:29] mikepc commented on #110
The main idea behind a Bearer token is that the client holds the authorization. There is no reason that the server should store this whatsoever. As long as server A and server B are using the same encryption secret, both servers (regardless of language, OS, whatever) should be able to decode the and validate the token.

The most important part about this is that in a scenario where you are going c

[2019-06-17 09:25] cyanBone opened #115 "How to use scopes to Provide Role-Based Authorization ?"

[2019-07-03 06:32] chaegumi commented on #111
you can try this

[code]

[2019-07-05 14:03] vincent-scw opened #116 "Support JWT token with custmized claims"
Hi,

It looks the generator only support 3 claims (Audience, Subject and ExpiresAt).
Does it support custmized claims? Or is there a plan?

Thanks

[2019-07-08 13:57] ccamel commented on #116
Just for information, the library is extensible enough to allow a custom implementation of the token generator.
So, I finally managed to produce a `JWT` just as I wanted, with all the claims I needed.

[2019-07-10 02:03] vincent-scw commented on #116
Thanks @ccamel . Could you please share some code for your implementation?

[2019-07-11 15:19] ccamel commented on #116
@vincent-scw. Sure, here's a very simple example of custom JWT generation (HS256 signed by default):

[code]

Hope it helps.

[2019-07-12 00:50] vincent-scw commented on #116
Thanks @ccamel. Nice example! Easy to understand.

[2019-07-12 00:50] #116 closed

[2019-07-18 01:52] dragonborngem opened #118 "How to include issuer field at OAuth2 token"
I'm trying to build an OAuth2 server. My access token (jwt type) server give me doesn't have iss (issuer) field. How can I add it to my token and another fields in payload? This is my server config and token server give me

[https://i.stack.imgur.com/yDEy2.png](url)

[code]
I tried to find is api docs but I found nothing i tried config here https://go-oauth2.github.io/ but looklike "manager.MapTok

[2019-07-18 04:50] dragonborngem commented on #118
I lookup this question and found some answer here [https://github.com/go-oauth2/oauth2/issues/98](url)
But i want to ask if there is any option to customize field without change package data. Thank a lot

[2019-07-20 23:01] jakubknejzlik commented on #90
@djKooks I'm currently implementing ID token for this library using `ExtensionFieldsHandler`. Basically you check the scopes and generate the ID token in field:
[code]
Implementation is really straightforward, but it would be nice to have it in some sort of "plugin".

[2019-07-21 00:06] jakubknejzlik commented on #90
Maybe this implementation details also help: https://github.com/graphql-services/oauth/commit/72f9aff1c2b82c485e1866c9afedecab69619b82

[2019-07-23 06:11] djKooks commented on #90
@jakubknejzlik great! It seems simple enough~
Because there is no reaction...I'll close this one. But maybe someone get interested about this, you could suggest this to them.

[2019-07-23 06:11] #90 closed

[2019-08-09 23:02] dmcinnes opened #119 "Configurable per-token expiration?"
Hello,

We've been testing this library for a future project but there are a few things that we'd need to add:

1. The ability to configure a separate expiration duration on a per-token basis.
2. The ability to configure a `0` duration that means the tokens _never_ expire.

Would you have any objection to us creating a PR to implement these? The `0` duration seems relatively straightforward, for t

[2019-08-14 06:03] LyricTian commented on #119
Hello, I agree with your request and look forward to your PR.

However, in accordance with your needs, you need to make changes to the token's storage interface and implementation.

[2019-09-04 12:03] myml opened #120 "[Request] multi redirect_url"
rfc6749 https://tools.ietf.org/html/rfc6749#section-3.1.2.3

   the redirection URI has been registered, or if no redirection URI has
   been registered, the client MUST include a redirection URI with the
   authorization request using the "redirect_uri" request parameter.

I can not use multi redirect_url, is there anything I have not found?

[2019-09-07 09:17] fr3fou opened #121 "Why do I have to pass client_secret when using the password grant type?"
I'm implementing 2 backends, one of them is for authentication and the other one contains business logic. A client is going to login with their username and pass to the authentication backend using the password grant type. I've tried it and it works all fine, but I have to pass in my client_secret when making the password grant type request.

How can I circumvent that?

[2019-09-08 01:57] LyricTian commented on #121
Client_secret is a mandatory option of the protocol and cannot be omitted. Of course, this step can also be assembled on the server. The client only provides the username and password.

[2019-09-08 10:28] fr3fou commented on #121
Mind giving an example of how it would be assembled on the server?

[2019-09-08 18:48] vitorarins commented on #120
I believe you must set your own `ValidateURIHandler`: https://github.com/go-oauth2/oauth2/blob/535666c25efd04f4d1e59a533585172cde15b3f4/manage/manager.go#L91

[2019-09-08 19:02] vitorarins opened #122 "Token structure is different from standard oauth2 library"
When checking out the code of the client sample, I was expecting the server to generate a token with the same structure as oauth2.Token (https://github.com/golang/oauth2/blob/0f29369cfe4552d0e4bcddc57cc75f4d7e672a33/token.go#L50)
Instead of the `expiry` field, I only got `expires_in` on the token.

Disclaimer: I am new to OAuth2, so I might be missing something here.

Thank you for any help

[2019-09-08 19:08] vitorarins commented on #122
I checked the code on standard library and like I said before I am new to OAuth2 and missed something :sweat: https://github.com/golang/oauth2/blob/master/internal/token.go#L65

Sorry for the noise

[2019-09-08 19:08] #122 closed

[2019-09-16 01:38] myml commented on #120
Thank you

[2019-09-16 01:38] #120 closed

[2019-11-07 14:56] tegk opened #128 "ineffectual assignment to `err`"
What is supposed to happen with `err` as it is assigned but not used?
Is it meant to be `uerr`?

`server/server.go:65:2`
[code]

[2019-11-07 15:23] LyricTian commented on #128
Yes, this is a bug, I will fix it as soon as possible, thank you.

[2019-11-07 15:54] tegk commented on #128
I generally suggest to not use naked returns as there assignment bugs can be prevented by this.

Something like this should be much better to read :-)

[code]

[2019-11-24 17:43] exapsy opened #129 "MongoDB-Go-Driver support"
## Description

There doesn't seem to be support for the original and updated mongo-go-driver. And as mgo is a discontinued project thus deprecated as a whole, there has to be an update regarding sessions or at least credentials for mongo server. Currently there's no support for databases that require credentials, is there?

[2019-11-25 00:45] exapsy commented on #114
Yeah the `HandleTokenRequest` seems to offer no options to store the token in cookie. If you've found a way @mikepc I would appreciate some guidance :D

[2019-12-01 20:49] exapsy opened #131 "Websockets support"
There seems to be no websocket support, as this code produces authentication error when a websockets try to communicate
[code]

[2019-12-04 01:31] SergeMerzliakov commented on #98
An example of adding public and/or private custom claims would be nice.

[2019-12-09 23:11] willjleong opened #132 "JSON response with Redirect URL for non-same server SSR flow"
**Problem**
- Right now the /authorize handler forces a redirect as the response when valid. If the request comes client-side from another domain, the redirect fails because of web security standards. For modern web-apps the frontend could very commonly be a universal-rendered-js app using a framework like next or nuxt. They may want to implement the authorize flow in the seperate frontend project

[2019-12-22 17:46] smw1218 opened #134 "Key PEM parsed for every JWT signed token"
In oauth2/generates/jwt_access.go:55-66, when using RSA or ECC, the key is parsed from PEM to sign every token. This should be done once and cached.

This makes signing slow (as this step runs rsa.Precompute on every call).  Also, the parse code may not be cryptographically secured against timing attacks and it might be possible to extract the private key via side channel attack.

[2019-12-31 04:14] rdsingh65 opened #135 "Is there an example signing method other than HS512?"
Everywhere I look, the example presented are for HS512 signing method only. It would be helpful to have an example that uses asymmetric signing method, such as RS256.

Hope you would consider.

[2019-12-31 19:31] #135 closed

[2019-12-31 19:32] rdsingh65 commented on #135
I got it going. Anyone interested, please contact me.

[2020-01-21 04:02] edosyhptra opened #136 "Provide Sample How to do Refresh Token"
Currently, Im using client credentials grant flow to implement Oauth2 in Golang.

Now, im trying to refresh the given access token. I have read the documentation. But I still can't figure it out.

if someone can provide me some guidance I would be muchh appreciate it.

[2020-01-29 04:08] edosyhptra commented on #94
I have added the line you given. But my access token expiration still not change. Did I miss something?
Currently, I just ran the sample code with line addition from yours.

[2020-01-31 12:06] LyricTian commented on #136
We apologize for the inconvenience caused by the untimely response. You can use the `SetClientTokenCfg` configuration in the `manager`, set the parameter `IsGenerateRefresh` to true, and then refer to the protocol <https://tools.ietf.org/html/rfc6749#section-6>. The client carries a refresh token in exchange for an access token.

[2020-02-03 07:47] edosyhptra commented on #136
Thanks for the reply. appreciate it.

[2020-02-03 07:47] #136 closed

[2020-02-04 07:06] FeNoMeNa opened #138 "jwt: strange behavior when generating access tokens simultaneously"
If you try the following shell execution:

[code]

You will get the following output:

[code]

This is due to the fact that all requests for getting access token try to use the same JWT token string, and DB complains with error. This behavior is caused due to the lack of unique field in JWTAccessClaims. Right now for uniqueness is used `ExpiresAt`, but what about if you try to generate multiple ac

[2020-02-10 03:58] edosyhptra opened #139 "http2 or TLS support"
I have been playing around with the provided example. However, I'm trying to implement it using http2 and tls. It doesn't work when its about to request the access token through the 'allow button' at https://localhost:9096/auth endpoint.

I am purely using the example source code and addition of http2 server as well as TLS certificate.

It says,
Post https://localhost:9096/token: x509: certificate

[2020-02-11 21:01] huangqun opened #141 "get token by user id"
Hello,

Is there a way to find the active token by user id? It seems the store always an encoded string of which userid is part of but there's no way to do this query which is necessary in some cases.

Any hints?

Thanks!

[2020-02-19 01:09] SergeMerzliakov opened #142 "Create JWT encoded refresh token"
Is it possible to generate access tokens with JWT refresh tokens. Should I just create my own JWT token using the refresh token as input instead.

[2020-02-26 03:07] apremalal opened #143 "Avoid multiple access tokens to the same user on the validity window"
Is there a configuration to avoid issuing new tokens to the same user credentials and reuse existing valid tokens instead?.

[2020-03-15 08:59] itunic commented on #143
That's a good idea

[2020-03-22 10:15] sfwn commented on #119
maybe you can use `AccessTokenExpHandler`.

[2020-03-23 10:18] lihaotian0607 opened #144 "add function SetClientInfoHandler"
Is it necessary add function `SetClientInfoHandler` ???

[2020-03-23 10:22] #144 closed

[2020-04-08 15:00] kostyay commented on #108
Any progress on this?
I also store the secrets hashed and I need a comparison function.

[2020-04-26 05:11] zihjielitw opened #147 "GC delete 0 expiration recode."
Hi .
I already set AccessTokenExp to 0 for SetClientTokenCfg , but TokenStoreGC remove the token record.
How can I resolve this problem?
Thanks.

[2020-05-15 12:14] mkaczanowski commented on #65
Bump. It would be great to have context support

[2020-05-15 15:17] mkaczanowski commented on #65
https://github.com/go-oauth2/oauth2/pull/148

[2020-05-16 05:14] dzhu commented on #108
That doesn't cover everything, unfortunately. For example, [bcrypt](https://en.wikipedia.org/wiki/Bcrypt), which is a good and common choice for hashing passwords, is generally implemented so it doesn't produce a deterministic output; it generates a random salt as part of the algorithm. So you can't reproduce the same hash given the same password (short of trying many times, of course), but have t

[2020-06-30 01:49] #108 closed

[2020-07-07 00:14] aubelsb2 opened #154 "generates.NewJWTAccessGenerate kid parameter unclear"
What is the kid parameter supposed to be and how is it supposed to be used. It's rather ambiguous. It looks like from the RFC it's meant to be a "key id" the server can identify the key used if it presents multiple. Is that correct?

[2020-07-19 16:47] sywesk opened #156 "[BUG] Client secret not verified if not provided"
Hello,

While trying to get your lib working on my project, I saw that using `Server.HandleTokenRequest` with no secret leads to a valid token being generated. See the attached picture as a proof.

I used a sample configuration to get it to work:

[code]

Notes: Giving a bad secret results in an error being thrown. But no secret works.

![token_with_no_secret](https://user-images.githubusercontent

[2020-07-20 13:04] sheepsong commented on #156
This is a fatal bug🤔
Should stay on v4.1.0 before the pr is merged.

[2020-07-20 13:15] sheepsong commented on #139
Are you using a self-signed certificate for host "localhost"?
 "x509: certificate signed by unknown authority" indicates your certificate ca is not trusted by your http client.
Https with certificate signed by letsencrypt is working well for me.

[2020-07-20 13:52] sheepsong commented on #154
As my guess:
"key id" is for multi-server scenario. Servers can valid jwt tokens signed by another server with retrieving proper signing key with "key id". There's a discuss in #110

[2020-07-20 18:14] sywesk commented on #156
@sheepsong Good thing that issue appeared only recently ! My fear was that it went hidden for a long time but that's not the case.
Now that this is fixed, let's close this issue :D

[2020-07-20 18:14] #156 closed

[2020-07-21 01:19] aubelsb2 commented on #156
This is confusing me a bit I wrote up something here: https://github.com/go-oauth2/oauth2/pull/151#issuecomment-661526578

[2020-07-24 08:24] HanHoRang opened #159 "Example run failure when I Revise Client ID, Secret in server, client"
The client ID and Secret shown in the example are modified as follows me, and the token is not issued.

my client ID / Secret info

example/client.go
`	clientStore := store.NewClientStore()
	clientStore.Set("222222", &models.Client{
		ID:     "222222",
		Secret: "22222222",
		Domain: "http://localhost:9094",
	})
	manager.MapClientStorage(clientStore)`

example/server.go
`var (
	config = oauth2.Con

[2020-07-25 07:47] edosyhptra commented on #139
Yep, im using localhost self-signed certificate.

Thats what im asking. how to use it into this framework

[2020-07-28 12:58] sheepsong commented on #139
Just let client trust your cert.

[2020-07-30 01:07] HanHoRang commented on #159
I think this is an encoding problem. The special character '=' is processed as '%3D' in the part of the client ID, and it seems to be an error when comparing the client ID.

[2020-08-08 17:45] ArslanMarmozov opened #160 "How to use third-party HTTP servers"
How to use third-party HTTP servers like Gin or Echo instead basic http package with this library? Thanks in advance!

[2020-08-09 06:40] wilgie opened #161 "PKCE is not supported"

[2020-08-17 11:58] Ekliptor commented on #161
agreed. This would be really cool for react apps without a server (only static files). See https://oauth.net/2/pkce/

[2020-08-19 15:39] maximkosov commented on #161
Authentication for mobile apps also require PKCE. Is there any plans to support it?

[2020-08-23 23:59] nihiluis commented on #87
@LyricTian can close this I think

[2020-08-31 21:29] #131 closed

[2020-10-20 19:51] CalvoM commented on #121
@fr3fou, From using the library, I see we only use the client_secret in the Authorization header i.e.
 `Authorization: Basic client_id:client_secret`
Is this what you mean?

[2020-10-20 20:03] CalvoM commented on #96
From the file **https://github.com/go-oauth2/oauth2/blob/master/store/client.go**, the clientstore stores the client data in a map, meaning the data is stored in memory.

[2020-10-25 14:07] flizana-legalspot opened #162 "Store client secret hashed in persistent store"
Hello, I have correctly implemented RedisStore for OAuth2 server implementation based on this library. However, checking Redis, I noticed the client_id and secrets are being stored in plain text. How can I force the library to store secrets securely (by hashing them with an algorithm such as SHA-1, SHA-256, Bcrypt, etc?

[2020-11-06 17:24] casimcdaniels commented on #103
You linked to a different library. Is the suggestion here to implement a new server type that supports the custom grant?

[2020-11-12 07:32] tienbm90 commented on #160
You should use this library if you want to use Gin:
https://github.com/go-oauth2/gin-server

[2020-11-23 17:58] smartaquarius10 opened #164 "Availability of different stores?"
Hello,

Does this support XML file and Microsoft Sql Server as a store?

Thank you

[2020-11-23 20:34] smartaquarius10 opened #165 "Any persistent storage available for client credentials?"
Team,

Once my application restarts how to refill the client store or make this as persistent storage. Currently, all the credentials are stored within memory. How to manage this logic because after restart whole client credentials memory will be cleared and we are unable to create new token

Please help.

[2020-11-24 07:19] tienbm90 commented on #165
Could you explain more details of your problem ?

[2020-11-24 15:27] smartaquarius10 commented on #165
Hello,
This code creates a new client store and `Set `method helps to insert credentials into it.

[code]

But their is no persistent storage which can save the details of credentials.  Due to this, the moment application restarts then everything disposes automatically and whenever we call this method

	http.HandleFunc("/token", func(w http.ResponseWriter, r *http.Request) {
		srv.HandleTokenReque

[2020-11-24 19:08] smartaquarius10 opened #166 "Compilation error while initializing error handlers"
Team,

While initializing these handlers

[code]

These errors are coming.

Can anyone please help me here.

[2020-11-25 19:31] leopucci commented on #164
I also have the same question. I want to store on the google datastore. I did not found on the options. Is it possible?
And @smartaquarius10 , i did not found Microsoft Sql Server Either.
Thanks

[2020-11-28 03:32] tienbm90 commented on #165
You can store client credentials into database and load it into clientstore before create new Oauth2 Server
There is my code:
[code]

Although you can't update clientstore automatically  when adding new clients into database, you still store and  manage your clients with my sample code.
I think i will it needs a feature which sync content between clientstore and database when client databases was

[2020-11-28 03:47] tienbm90 commented on #166
Which version of go-oauth2 are you using ?

[2020-12-16 23:56] xsoroton commented on #118
I have the same problem, I can't spec what I want to use for payload in my tokens

[2020-12-20 18:11] cjslep opened #167 "Support RFC 7591: OAuth 2.0 Dynamic Client Registration Protocol"
It would be nice to have a function that supports the behavior outlined in [RFC 7591](https://tools.ietf.org/html/rfc7591).

[2020-12-24 02:00] beautyfree commented on #93
#89

[2020-12-24 02:02] beautyfree commented on #165
#89

[2020-12-24 02:03] beautyfree commented on #164
#89

[2020-12-24 02:03] beautyfree commented on #96
#89

[2020-12-24 02:04] beautyfree commented on #113
#89

[2021-01-19 03:08] mntya opened #170 "hope to update go session dependancy version"
oauth2 now use go session version v3.1.2， the func sessionID() is like this:
`
        var cookieValue string
	cookie, err := r.Cookie(m.opts.cookieName)
	if err == nil && cookie.Value != "" {
		...
	} else {
		if m.opts.enableSIDInURLQuery {...}
		if m.opts.enableSIDInHTTPHeader && cookieValue == "" {...}
	}
	if cookieValue != "" {
		return m.decodeSessionID(cookieValue)
	}
	return "", nil
`
but

[2021-01-21 21:13] smartaquarius10 opened #171 "How to block token validation through all DCs in a multi cluster environment?"
Team,

I have created an application using this go-oauth2 packages and hosted them in 2 different data centers with a load balancer is running on round robin strategy.

The problem is if client has retrieved token through Data Center A then next call goes Data Center B and still the validation is successful.  Ideally it should not be doing that. How to block this process of retrieval from one and

[2021-02-11 00:37] xiaofei-du commented on #98
Thanks for the PR. 👍

One question about the standard claims:
Correct me if I am wrong, `"aud"` in OAuth2 refers to the __Resource Server__ that accepts this token, normally it would be the url of the resource. see [discussion](https://stackoverflow.com/questions/28418360/jwt-json-web-token-audience-aud-versus-client-id-whats-the-difference#:~:text=The%20audience%20aud%20claim%20in,that%20should%2

[2021-02-11 06:24] jakubknejzlik commented on #98
You are right, at the time of writing my comment I was under impression that aud should be used differently than its actual purpose.

[2021-02-25 05:21] xiviu123 opened #172 "ForcePKCE option make orther grant type error"
The origin validate ForcePKCE in server.ValidationTokenRequest func:
[code]
 Should add filter by grant type authorization code?

[code]

[2021-03-07 08:49] XciD opened #173 "newPasswordHandler function add context"
Hello,

It's possible to add the context in the `PasswordAuthorizationHandler` method ?

Current signature:

`PasswordAuthorizationHandler func(username, password string) (userID string, err error)`

Propose one:

`PasswordAuthorizationHandler func(ctx context.Context, username, password string) (userID string, err error)`

It's quite usefull to follow request id or tracing.

I'd be glad to propos

[2021-03-11 14:20] JamesArthurHolland commented on #121
For anyone reading this in future, I think the answer is that you shouldn't allow clients to interact directly with the auth server, as this is insecure.

Your web-app should have an authentication endpoint, and then it should call to the auth server. The auth server can then be firewalled to only allow access from the web-app. Firewalling + client:secret makes for a very secure solution.

The web

[2021-03-11 16:17] fr3fou commented on #121
may I ask why it is not secure?

[2021-03-11 16:31] JamesArthurHolland commented on #121
Because then anyone could try to brute force guess passwords. You need to rate limit requests, and that's not the responsibility of the auth server.

Also, I think this server relies on the user supplied information being somewhat trust worthy.

I.e username and password should be sanitised before hitting the auth server.

[2021-03-12 00:05] qkrgksqkr opened #174 "Support Multiple redirect URL?"
I think this oauth2.0 server library cannot support multiple endpoints
Is it right?.

oauth2.v3/models/client.go
// Client client model
type Client struct {
	ID     string
	Secret string
	Domain string
	UserID string
}

[2021-03-18 05:57] qkrgksqkr commented on #174
It is solved.

[2021-03-21 08:45] rainlay commented on #174
hi @qkrgksqkr, that means is support multiple endpoints ?

thanks.

[2021-03-24 08:24] nshkg opened #176 "Authorization endpoint MUST allow to use `GET` according to RFC"
The https://tools.ietf.org/html/rfc6749#section-3.1 talks:
`The authorization server MUST support the use of the HTTP "GET method [RFC2616] for the authorization endpoint and MAY support the use of the "POST" method as well`.
However if i will try to use `GET`server respond with `401 - You must pass resource owner credential via POST`

[2021-03-28 09:10] #172 closed

[2021-04-15 02:35] bjaiwu opened #180 "Error verifying clientsecret when refreshing token"
Team：
        When calling refresh_Token does not use the following code：

[2021-04-28 07:48] cchenggit commented on #180
+1

[2021-05-27 17:11] ekundayo-ab commented on #166
Try using this `github.com/go-oauth2/oauth2/v4/errors` or `github.com/go-oauth2/oauth2/v3/errors` for the `errors` package

[2021-05-27 17:54] smartaquarius10 commented on #166
Sure. Thanx. 🙂

[2021-05-27 17:54] #166 closed

[2021-05-30 10:45] tsmethurst opened #181 "Any interest in adapting a PR?"
I just made a release of a forked version of this library that I'm using in a project:

https://github.com/superseriousbusiness/oauth2/releases/tag/v4.3.0-SSB

Basically, it changes some structs into interfaces to allow library users to implement their own Client and ClientStores that use database rather than in-memory storage.

Any interest in me making a PR of this back to here?

It would solve

[2021-05-30 10:47] tsmethurst commented on #181
This is how it looks to implement these interfaces from a library-user point of view:

https://github.com/superseriousbusiness/gotosocial/blob/main/internal/oauth/tokenstore.go

https://github.com/superseriousbusiness/gotosocial/blob/main/internal/oauth/clientstore.go

[2021-06-30 03:30] Cyberhan123 opened #182 "jwt packge may should update version"
see https://github.com/dgrijalva/jwt-go/issues/216

[2021-07-01 02:29] LyricTian commented on #182
done

[2021-07-01 07:26] inertica opened #184 "Error: duplicate new variable declaration breaks go install"
Building from the latest master branch produces an error:
[code]

The failing build command on the build pipeline:
[code]

Can reproduce the error on local development by updating the package and using Go version 1.14.10 by running only `go install ./cmd/...` command.

[2021-07-01 07:59] qinxin0720 commented on #184
https://github.com/go-oauth2/oauth2/blob/68172d1c8345fba702886d91c1945d68df3397b3/server/server.go#L215
https://github.com/go-oauth2/oauth2/blob/68172d1c8345fba702886d91c1945d68df3397b3/server/server.go#L243

variable `tgr` defined twice in same function

[2021-07-02 08:38] #182 closed

[2021-07-02 09:00] MilanSavaliya commented on #184
such mistake should have caught compile time itself, does that mean it's been released without testing properly?

[2021-07-03 07:16] Cyberhan123 commented on #184
see https://github.com/go-oauth2/oauth2/pull/186

[2021-07-05 21:35] rp8 commented on #180
I have a PR #187 that fixed this issue.

[2021-07-06 21:44] akacase opened #188 "invalid state, when state is enforced on oauth client."
Hi,

On a simple JS project, when enforcing the usage and verification of the state variable on the callback, I'm getting an error. There's no state returned to match the one sent into the server for a token:

sample output:
[code]
Is this a misconfiguration on my part? I can't seem to see in where the state from the form is passed back down to the client.

Thanks!

[2021-07-08 06:53] qkrgksqkr opened #190 "Is this library support ID_Token? using OpenID ?"
I can't find in this project.

[2021-07-11 11:15] #188 closed

[2021-07-14 02:17] RiANDRAFT opened #191 "Error no new variable"
github.com/go-oauth2/oauth2/v4/server
..\..\..\go\pkg\mod\github.com\go-oauth2\oauth2\v4@v4.4.0\server\server.go:243:6: no new variables on left side of :=

![image](https://user-images.githubusercontent.com/34152996/125550148-2de9f3ec-43ce-44ce-8c1d-355b7baa6460.png)

[2021-07-14 02:17] RiANDRAFT commented on #191
![image](https://user-images.githubusercontent.com/34152996/125550215-36cba255-b37e-4aa5-ba56-2a2ca9606fba.png)

[2021-07-14 02:20] #191 closed

[2021-07-14 21:06] alidehghan opened #192 "build error"
server.go:243:6: no new variables on left side of :=

[2021-07-16 05:57] novrian commented on #192
It's already here #184, please close this issue

[2021-07-16 12:26] #192 closed

[2021-07-16 18:18] alidehghan opened #193 "Additional Claims"
How can I add some additional claims to JWT token generated?

[2021-07-19 10:58] nitishnm opened #194 "go-oauth2/oauth2/v4@v4.4.0/server/server.go:243:6: no new variables on left side of :="
go-oauth2/oauth2/v4@v4.4.0/server/server.go:243:6: no new variables on left side of :=

assignment happened at 243 line also 215 line

[2021-07-19 11:18] nitishnm commented on #194
This issue is seen in latest version release

[2021-07-20 06:37] novrian commented on #194
see #186

[2021-07-22 15:25] alidehghan commented on #104
this is my question too

[2021-08-22 15:06] lukaskirner opened #198 "Example Authorization Code grant accepts every input"
By running the example, every input at the login page is valid. Is it a bug or do I get something wrong here. I expected that the login input is validated by the following method:

[code]

[2021-09-04 14:29] #181 closed

[2021-09-24 13:48] R-omk commented on #105
same https://github.com/go-oauth2/oauth2/issues/99

[2021-09-24 14:03] R-omk commented on #87
related: https://github.com/go-oauth2/oauth2/issues/99  https://github.com/go-oauth2/oauth2/issues/105

I consider this to be a serious vulnerability. It cannot redirect anywhere other than explicitly permitted urls.

https://datatracker.ietf.org/doc/html/rfc6749#section-4.1.2.1

   redirection URI, or if the client identifier is missing or invalid,
   the authorization server SHOULD inform the re

[2021-12-04 17:04] JeffreyBool opened #201 "授权失败为啥会自动 302 跳转？不合理吧？"

[2021-12-07 13:27] torkelrogstad opened #202 "Code verifier length is not enforced"
The code verifier in PKCE has both a minimum and maximum length, per the [spec](https://datatracker.ietf.org/doc/html/rfc7636#section-4.1). It looks like this is currently not enforced in this framework.

[2021-12-07 13:32] torkelrogstad commented on #202
A check probably belongs here:

https://github.com/go-oauth2/oauth2/blob/ea58e54a38bcbe9b5626ae9d1f620076a608f684/manage/manager.go#L258-L278

[2021-12-13 14:42] whatfor1 opened #203 "Does someone can help to manage mongo db oauth2 token?"
Oauth2 mongo db has some issue.
oauth2_txn , oauth2_txn.stash has no ttl, so it's never be deleted.
How could I handle with this?

It looks oauth2_txn has no purpose for application.
I cannot clearly understand the purpose of oauth2_txn, oauth2_txn.stash

[2021-12-15 08:17] lhz1165 opened #204 "hwo to store user info"
if user1 in client1 login server and success,server will return token.
if i want ro get the deatils of user1,how cloud i do

[2021-12-21 07:14] #204 closed

[2021-12-27 10:49] adeturner commented on #181
With the positive that I stepped through all the code to discover this situation (must remember to search issues prior to reading code) , I agree it would be nice to override the implementation. What happened with this idea, just lack of response?

[2021-12-27 11:47] adeturner commented on #106
Agree, it is useful info for server side debugging though... and you can override the error handling to stop that returning to the client.

	s.srv.SetInternalErrorHandler(func(err error) (re *errors.Response) {
	s.srv.SetResponseErrorHandler(func(re *errors.Response) {

e.g.

	s.srv.SetInternalErrorHandler(func(err error) (re *errors.Response) {
		re = &errors.Response{
			Error:       err,
			Err

[2022-01-24 17:56] realbucksavage commented on #173
@XciD I'm working on #207 that addresses this. Hoping that it is according to the library's standards and gets merged soon.

[2022-01-25 09:41] #65 closed

[2022-01-26 09:21] realbucksavage commented on #173
@XciD @LyricTian this can be closed now.

[2022-01-26 09:48] #173 closed

[2022-01-26 09:57] XciD commented on #173
@realbucksavage thanks

[2022-02-04 12:26] #198 closed

[2022-02-04 23:25] SamuelMarks opened #210 "[SUGGESTION] go-auth2/oauth2 CLI for testing oauth2-client libraries"
What do you think of implementing a CLI around go-auth2 [maybe with a bunch of command-line args and/or env vars and/or config file] such that oauth2 implementations can have something to test their implementation against.

Your codebase seems like a good candidate, seeing as it's maintained, written in Go (static independent binaries + cross-platform FTW), permissively licensed, and has self-cont

[2022-02-22 02:46] zlgale opened #211 "How to support SignedKey and SigningMethod according to different ClientID in an OAuth2 server?"
For example, the SigningMethod of the token of client1 is RS256, and the token of client2 is HS256. What should I do in this case?

`mgr.MapAccessGenerate(generates.NewJWTAccessGenerate("", []byte(config.Get().OAuth2.JWTSignedKey), jwt.SigningMethodHS512))
	clientStore := store.NewClientStore()
	for _, v := range config.Get().OAuth2.Client {
		clientStore.Set(v.ID, &models.Client{
			ID:     v.ID,

[2022-03-04 08:07] bingfenglai opened #212 "How to add a custom grant type, such as email + verification code"
How to add a custom grant type, such as email + verification code.

[2022-03-16 08:17] gitHusband opened #214 "Does the package support GO v1.7.2?"
I can not download the package using
`go get -u -v github.com/go-oauth2/oauth2/v4/...`

The error is
`go get: github.com/go-oauth2/oauth2/v4@v4.4.3 requires
        github.com/go-session/session@v3.1.2+incompatible: stream error: stream ID 11; INTERNAL_ERROR`

My Go Version:

`go version go1.17.2 darwin/amd64`

[2022-03-16 12:58] LyricTian commented on #214
Network exception, use goproxy.cn as go proxy and try again.

[2022-03-17 01:26] gitHusband commented on #214
Works! Thanks!!! @LyricTian

[2022-03-22 03:19] cangmean opened #215 "refresh access_token get userinfo raise token error"
I use refresh_token refresh access_token,  then use access_token get userinfo server side raise token error.

[code]

this is print info, returned access_token is same, but refresh_token changed.

[code]

this is server.go code

[code]
I found  `srv.ValidationBearerToken` use `func (m *Manager) LoadAccessToken` , so I add println like this
[code]

 same as above
[code]

server print info
[code]

I

[2022-03-29 19:57] p000ic opened #216 "Doc error on https://go-oauth2.github.io/"
[Under 1.1.1.3 SetImplicitTokenCfg set the implicit grant token config](https://go-oauth2.github.io/)

[code]

here - `SetAuthorizeCodeTokenCfg` should be `SetImplicitTokenCfg`

Please accept the pullrequest @p000ic

[2022-04-02 00:41] lixh00 opened #217 "Can I add a callback after login?"
Can I add a callback after login?
such as updating the last login time of the database after login.

[2022-04-04 04:35] realbucksavage commented on #217
Yes you can!

[code]

[2022-04-04 07:54] jackbaron commented on #142
@SergeMerzliakov you found any solution?

[2022-04-04 15:09] li-xunhuan commented on #217
I used`SetPasswordAuthorizationHandler`, it doesn't go into`UserAuthorizationHandler` function, and I need to record user last login time and IP address

[2022-04-12 10:34] realbucksavage commented on #215
Refer https://github.com/go-oauth2/oauth2/blob/master/manage/manager.go#L419 and https://github.com/go-oauth2/oauth2/blob/master/manage/config.go#L38

Whenever a refresh token is used, the current access token is removed from token store by default. You can change this behavior by doing `manager.SetRefreshingConfig`.
https://github.com/go-oauth2/oauth2/blob/master/manage/manager.go#L87

[2022-05-01 03:54] wilsonlichina opened #218 "The key disconnect I had was understanding the expected flow of my app."
The key disconnect I had was understanding the expected flow of my app.
After I dug around in the api and saw the implementation I figured out what
the path was and could debug properly to get everything working.

Everything is working, sorry for the question.

On Mon, Mar 25, 2019 at 9:06 PM Lyric <notifications@github.com> wrote:

_Originally posted by @mikepc in https://github.com/go-oauth2/oau

[2022-05-01 03:55] wilsonlichina commented on #218
hello mike, can you show your code for reigster/login implemention?

[2022-05-01 04:23] wilsonlichina opened #219 "how to implemente an entire user system based on go_oauth2?"
hello guys,

this projects is very good, despite I know there are still many things I don't understand. you known, i want to implement an entire user system to process to user's register、login、authorization restful api. and put these restful apis into **one project**. my means my business is small, i don't  have plan to split auth server and resource server.  do you have any projects or examples f

[2022-05-04 09:26] ubombi commented on #103
@casimcdaniels he means, that it's possible with wrappers, which redefine some methods
[code]

[code]

[Link](https://github.com/go2s/o2s/blob/e5dd412faaf577b111d384e51ec6bf2fdee3279c/o2/server.go#L67-L97)

[2022-05-21 08:52] gatspy commented on #116
sample is good

[2022-06-01 08:52] ibjas opened #222 "Create long access_token"
How can I create a long access token? what is the configuration I need to do for `that?`

the current result of token creation

`{
    "access_token": "SAC112Y-OICIQDCTA7WXPQ",
    "expires_in": 3600,
    "scope": "*",
    "token_type": "Bearer"
}`

[2022-06-13 20:17] dergus opened #223 "How to revoke all access tokens for a given user?"
Is is possible to revoke all access tokens by a user id?
I've looked through code but couldn't find a way to do it.

[2022-06-13 21:17] muir opened #224 "GetUserID not needed by ClientInfo"
The `ClientInfo` interface includes `GetUserID() string`.   Why?   It's not called in any code except for a test that verifies the implementation.

What is it supposed to be for?   Since it's not used, it should be removed.

[2022-06-23 06:47] realbucksavage commented on #223
Access and Refresh Tokens are stored in an `oauth2.TokenStore`. The mechanism to revoke all access tokens should be present in your `TokenStore` implementation if you need that.

[2022-06-23 15:05] #223 closed

[2022-06-29 05:23] realbucksavage commented on #222
Take a look at [`manage.MapAccessGenerate`](https://pkg.go.dev/github.com/go-oauth2/oauth2/v4@v4.4.3/manage#Manager.MapAccessGenerate) and [`oauth2.AccessGenerate`](https://pkg.go.dev/github.com/go-oauth2/oauth2/v4@v4.4.3#AccessGenerate).

You can create long JWTs in your `oauth2.AccessGenerate`, and map it like this:

[code]

[2022-07-28 07:43] Jiaoyuanli commented on #193
Rewrite JWTAccessGenerate
The method of Token   in jwt.standardClaims.Subject  add my additional param, such as json to string

[2022-07-29 09:22] fan4905 opened #225 "invalid_request"
After running, the error invalid_request is reported, and the link goes to
http://localhost:9096/authorize?error=access_denied&error_description=The+resource+owner+or+authorization+server+denied+the+request

[2022-08-01 07:34] #225 closed

[2022-09-22 16:43] rochinworks commented on #225
What was the fix for this @fan4905 ?

[2022-09-30 09:20] garyfu9527 opened #226 "Does it work with kong?"
I used your code,and get token.then config OAUTH2 in kong,same clieng_id and clieng_secret,but kong doesnot recognize it,it response "invalid token,The access token is invalid or has expired"

[2022-10-19 08:30] torkelrogstad commented on #202
@LyricTian @realbucksavage would a PR to fix this be welcome?

[2022-10-19 14:43] realbucksavage commented on #202
@torkelrogstad a PR would definitely be welcome. Though I don't see it breaking anything, @LyricTian is the only one who can merge PRs.

[2022-10-21 04:32] realbucksavage commented on #202
@torkelrogstad the check might belong in the [`CodeChallengeMethod.Validate` function in `const.go`](https://github.com/go-oauth2/oauth2/blob/master/const.go#L63-L76). Thoughts?

[2022-10-27 18:07] meysamhadeli opened #227 "Can we use post token endpoint as password grant instead of get method?"
I wanna call this this endpoint for retrieve token. By default, the `Get` method is considered. Can you use `Post` method? It's work's correctly with `Get` method. but I don't want pass my information as query string!

[code]

this is my endpoint as `Post` method: `http://localhost:9096/token`
this is my body parameters:
[code]

Thanks for helping :)

[2022-11-10 06:52] gonzojive opened #228 "Add meaningful comments for exported identifiers"
Many types in the library have poor documentation. This is a request for more comments that are meaningful to very casual OAuth users.

Example

[code]

Comments should be present and should link to a place that explains the relevant concepts (e.g., code challenge, access, refresh, etc.).